<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
  <%= link_to 'Bimkat Sumteng', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tentang
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Visi dan Misi Kantor Kementerian Agama Kabupaten Sumba Tengah', tentang_visi_misi_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Tekad Pelayanan Seksi Urusan Agama Katolik', tentang_tekad_urakat_path, class: 'dropdown-item' %>
          <%= link_to 'Tekad Pelayanan Penyelenggara Pendidikan Agama Katolik', tentang_tekad_pendakat_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Data
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Data Keagamaan Katolik', data_keagamaan_katolik_path, class: 'dropdown-item' %>
          <%= link_to 'Data Pendidikan Agama Katolik', data_pendidikan_katolik_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Galeri
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Foto', galeri_foto_path, class: 'dropdown-item' %>
          <%= link_to 'Video', galeri_video_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Informasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Berita Terkini', informasi_berita_terkini_path, class: 'dropdown-item' %>
          <%= link_to 'Pengumuman', informasi_pengumuman_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Laporan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Laporan Penyuluh Agama Katolik', laporan_penyuluh_agama_katolik_path, class: 'dropdown-item' %>
          <%= link_to 'Laporan Kinerja Pegawai Bimkat Sumteng', laporan_kinerja_pegawai_bimkat_sumteng_path, class: 'dropdown-item' %>
        </div>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="user-name"><%= current_user.nama %></span>
          <span class="caret"></span>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
      <% else # user not signed it %>
        <li ><%= link_to 'Masuk', masuk_ke_website_bimas_katolik_path, class: 'nav-link' %></li>
        <li ><%= link_to 'Mendaftar', mendaftar_ke_website_bimas_katolik_path, class: 'nav-link' %></li>
      <% end # if user is signed it %>
    </ul>
  </div>
</nav>
