<!DOCTYPE html>
<html>
  <head>
    <title>Bimas Katolik Kantor Kementerian Agama Kabupaten Sumba Tengah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "blog.css" %>
    <%= stylesheet_link_tag "blog-style.css" %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
